/* ======================================== GLOBAL ======================================== */
body::-webkit-scrollbar, .SingleProductWindow article::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background: rgba(27, 38, 49, .3);
}
body::-webkit-scrollbar-thumb, .SingleProductWindow article::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5096fd;
}
input:focus, input:active, button:focus, button:active, select:active, select:focus {
    outline: none !important;
}
.MoneySymbol {
    color: #e6563f;
    font-size: 26px;
    transition: .2s;
}

/* ======================================== HEADER ======================================== */
header {
    overflow: hidden;
    padding: 15px 0px;
    min-height: 100px;
}
.HeaderTopPart {
    max-width: 100%;
    padding: 0px 16px;
}
.HeaderTopPart, .HeaderBottomPart {
    margin: 10px 0px;
}
@media (max-width: 768px) {
    .HeaderTopPart {
        text-align: center;
    }
}

/* The name of the site is made in two colors. */
.SiteName {
    color: #5096fd;
    transition: .2s;
}
.SiteName b {
    font-weight: normal;
    color: #e6563f;
}
.SiteName:hover {
    font-size: 46px;
    opacity: .85;
}   
.HeaderLogoBox a:hover {
    text-decoration-line: none;
}

/* Basket */
.BasketButton {
    width: 25%;
    padding: 5px;
    background: #5096fd;
    color: #fff;
    border: 1px solid #5096fd;
    border-radius: 30px;
}
.BasketButton:hover {
    background: #e6563f;
    border: 1px solid #e6563f;
}
.BasketButton label {
    cursor: pointer;
    margin-left: 12px;
}
.BasketItemCount {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 5px;
    right: 14.5%;
    background: #fff;
    color: black;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .BasketButton {
        width: 35%;
    }
    .BasketItemCount {
        right: 20%;
    }
}
@media (max-width: 576px) {
    .BasketBox button{
        float: none !important;
    }
    .BasketItemCount {
        right: 51%;
    }
}
@media (max-width: 425px) {
    .BasketBox {
        width: 240%;
    }
    .BasketItemCount {
        right: 50%;
    }
    .BasketButton label {
        margin-left: 0px;
    }
}

/* Header Bottom Part */
.LangSelector {
    margin: 5px;
    padding: 7px;
    border-color: #5096fd;
    cursor: pointer;
}
@media (max-width: 992px) {
    /* Collapsed navbar */
    .navbar-collapse {
        padding: 5px;
    }
    .LangSelector {
        margin: 0px;
    }
}

/* ======================================== CONTENT ======================================== */
.Content {
    min-height: 100vh;
}

/* Shop page */

/* <<Shop By Category>> <<Filters>> */
.FiltersPart {
    background: #fff;
    z-index: 1;
    height: 100%;
    position: sticky !important;
    top: 0;
}
.FiltersBox, .CategoriesBox {
    margin: 15px auto;
    padding: 10px;
    border: 1px solid lightgray;
}
aside .Title {
    width: 100%;
    padding: 5px;
    background: #5096fd;
    color: #fff;
    border-radius: 5px;
}
.FilterCollapseButton {
    width: 100%;
    margin: auto;
    background: #5096fd;
    color: #fff;
}
.FilterCollapseButton:focus {
    color: #fff;
}
.FilterCollapseButton:active {
    background: #e6563f;
}

/* Categories side */
.CategoriesBox ul {
    padding: 0px;
    margin: 5px auto;
}
.CategoriesBox li {
    list-style-type: none;
}
.CategoryButton {
    width: 100%;
    text-align: left;
    transition: .5s;
}
.CategoryButton:hover {
    margin: 10px auto;
    background: lightgray;
}
.CategoryButton img {
    width: 30px;
    margin-right: 5px;
}

/* Filters side */
.PriceFilter span {
    margin: auto 5px;
}
.PriceFilter input {
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.PriceFilter input[type="range"] {
    width: 100%;
}

@media (max-width: 768px) {
    .CategoriesBox, .FiltersBox {
        text-align: center;
        max-height: 100vmin;
    }
    .CategoriesBox li {
        display: inline-block;
    }
}

/* Products side */
.ProductsPart {
    margin: 15px auto;
}
.ProductsPart .row {
    justify-content: center;
}

/* Product in row */
.Product, .Product * {
    cursor: pointer;
}
.Product {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: #5096fd;
    -webkit-box-shadow: 0px 0px 10px 0px lightgray;
    -moz-box-shadow: 0px 0px 10px 0px lightgray;
    box-shadow: 0px 0px 10px 0px lightgray;
    transition: .5s;
}
.Product:hover {
    color: #e6563f;
    margin: 25px;
    padding: 35px;
}
.Product:hover  .MoneySymbol {
    color: #5096fd;
    font-size: 40px;
}
.Product img {
    width: 100%;
} 

/* Product description */
.Product label {
    margin-bottom: 40px;
}
.ProductPriceBox {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

/* Single zoomed Product */
.SingleProductWindow {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background: rgba(27, 38, 49, .7);
}
.SingleProductWindow article {
    max-height: 100vh;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}
.SingleProductImg {
    width: 50%;
}

/* Price */
.Price {
    color: #e6563f;
}

/* Collapse Button */
.ExitButton {
    position: sticky;
    top: 0;
    left: 100%;
    width: 35px;
    height: 35px;
    background: #fff;
    border: none;
    transition: .2s;
}
.ExitButton:hover {
    padding: 3px;
}
.ExitButton img {
    width: 100%;
}

/* Add Cart Box */
.ToCartBox input {
    width: 30%;
    margin: 15px;
    margin: auto;
    text-align: center;
}

/* Basket Page */
.CartBox div h2 {
    border-radius: 5px;
    padding: 5px;
}

/* Title */
.CartBox h2 {
    background: #5096fd;
    color: #fff;
}
.BasketItem {
    color: #5096fd;
    background: #F2F3F4;
    padding: 5px;
    margin: 15px auto;
    -webkit-box-shadow: 0px 0px 10px 0px darkgray;
    -moz-box-shadow: 0px 0px 10px 0px darkgray;
    box-shadow: 0px 0px 10px 0px darkgray;
    transition: .5s;
}
.BasketItem:hover {
    background: #E5E7E9;
    font-size: 105%;
    padding: 10px;
}
.ImageBox, .ProductInfoBox {
    text-align: center;
}
.ProductInfoBox .form {
    display: flex;
    justify-content: center;
    color: #e6563f;
}
.ProductInfoBox input {
    width: 15%;
    height: 25px;
    text-align: center;
    margin: auto 5px;
}
.ImageBox img {
    width: 80%;
    border: 1px solid #5096fd;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
}
@media (max-width: 575px) {
    .ImageBox img {
        width: 35%;
    }
}

/* Order Form Box */
.OrderBox {
    margin: 5% auto;
}

.RemoveButton {
    color: #e6563f;
}

/* ======================================== FOOTER ======================================== */
footer {
    position: relative;
    bottom: 0px;
    background: #5096fd;
    color: #fff;
    height: 250px;
}

/* Footer Top Part */
.FooterTopPart {
    height: 90%;
    text-align: center;
    padding: 0px 10px;
}
@media (max-width: 425px) {
    .FooterTopPart {
        text-align: left;
        margin: 15px;
    }
}
.FooterContacts {
    width: 100%;
    padding: 10px;
}
.AddressBox, .PhoneBox, .MailBox {
    padding: 5px;
}
.AddressBox p, .PhoneBox p, .MailBox p {
    margin: 5px;
}
.PhoneBox img, .MailBox img {
    margin: 5px;
}

/* Footer bottom part */
.FooterBottomPart {
    height: 10%;
    text-align: center;
    background: #fff;
    color: black;
}