/* ==================== GLOBAL ==================== */
input:focus, input:active, button:focus {
    outline: none;
}

/* ==================== HEADER ==================== */
/* The name of the site is made in two colors. */
header {
    overflow: hidden;
    padding: 15px 0px;
    min-height: 100px;
}
.HeaderTopPart {
    max-width: 100%;
    padding: 0px 16px;
}
.HeaderTopPart, .HeaderBottomPart {
    margin: 10px 0px;
}
@media (max-width: 768px) {
    .HeaderTopPart {
        text-align: center;
    }
}
.SiteName {
    color: #5096fd;
}
.SiteName b {
    font-weight: normal;
    color: #e6563f;
}
/* Basket */
.BasketButton {
    width: 25%;
    padding: 5px;
    background: #5096fd;
    color: #fff;
    border: 1px solid #5096fd;
    border-radius: 30px;
}
.BasketItemCount {
    width: 25px;
    height: 25px; 
    position: absolute;
    top: 5px;
    right: 13.5%;
    background: #fff;
    color: black;
    border-radius: 50%;
}
@media (max-width: 856px) {
    /*  */
} 
@media (max-width: 768px) {
    .BasketButton {
        width: 35%;
    }
    .BasketItemCount {
        right: 19%;
    }
}
@media (max-width: 576px) {
    .BasketBox button{
        float: none !important;
    }
    .BasketItemCount {
        right: 50%;
    }
}
